---
import aboutbg from "./img/nosotros.jpg"

---

<main id="about" >
    <div>
        <h2>SOBRE <span>MARINO PROPIEDADES</span></h2>
        <br>
            <p>MARINO PROPIEDADES es una empresa inmobiliaria que tiene 20 años en el mercado en la misma zona y a cargo del titular de la firma ADRIAN FABIO MARINO martillero publico universitario quien se encuentra inscripto en CUCICBA y el COLEGIO DE MARTILLEROS DE SAN MARTIN, por lo que esta habillitado para trabajar cualquier propiedad tanto en la Ciudad Autonoma de Buenos Aires, como en la Provincia de Buenos Aires.
    La inmobiliaria se desarrolla profesionalmente brindando una  solución integral a las necesidades inmobiliarias de personas y familias, tanto para vender, comprar, alquilar, o tasar su propiedad. otorgando un servicio profesional y responsable de intermediación siendo su premisa el trato personalizado con el objetivo de satisfacer al cliente, atendiendo, comprendiendo y trabajando sobre sus necesidades inmobiliarias específicas, y aportando valor a los inversores en bienes raíces. Y siempre teniendo en cuenta las particularidades de cada operación y las necesidades y expectativas con las que llegan a nuestra oficina.-Con la mejor predisposición, trato personalizado y experiencia en el mercado los esperamos para poder hacer realidad el sueño de cada cliente</p>
    </div>
</main>