---
import calendar from "../home/img/calendario.png";
import camara from "../home/img/camara.png";
import casa from "../home/img/casa.png"
import edificio from "../home/img/edificio.png"
import metro from "../home/img/metro-cuadrado.png"
import puerta from "../home/img/puerta-abierta.png"


---

<main>
    <div>
        <div>
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </div>
    </div>
    <div>
        <div>
            <h2></h2>
            <h3></h3>
            <div>
                <p></p>
            </div>
        </div>
        <div>
            <div>
                <div>
                    <img src={metro.src} alt="">
                    <span></span>
                    <img src={puerta.src} alt="">
                    <span></span>
                    <img src={calendar.src} alt="">
                    <span></span>
                </div>
                <div>
                    <h2></h2>
                    <p></p>
                </div>
                <div>
                    <h2></h2>
                    <iframe src="" frameborder="0"></iframe>
                </div>
                <span></span>
            </div>
            <div>
                 <form action="/send-message" method="POST">
                    <h2></h2>
                    <p></p>
                    <input type="text" id="name" name="name" required>
                    <input type="number" name="cellphone" id="cellphone">
                    <input type="email" id="email" name="email" required>
                    <textarea id="message" name="message" required></textarea>
                    <div>
                        <button type="submit"></button>
                        <button type="reset"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>