---
import calendar from "./img/calendario.png"
import camera from "./img/camara.png"
import location from "./img/edificio.png"
import door from "./img/puerta-abierta.png"
import size from "./img/metro-cuadrado.png"
import house from "./img/casa.png"
---

<section>
    <div>
        <p></p>
        <a href=""></a>
    </div>
    <div>
        <div>
            <img src="" alt="">
            <div>
                <h2></h2>
                <img src="" alt="">
            </div>
            <div>
                <img src="" alt="">
                <p></p>
                <img src="" alt="">
                <p></p>
                <img src="" alt="">
                <p></p>
            </div>
            <div>
                <h3></h3>
                <span></span>
                <p></p>
            </div>
            <div>
                <h3>Cod:<span></span></h3>
                <a href=""></a>
            </div>
        </div>
    </div>
</section>