---
import calendar from "./img/calendario.png"
import camera from "./img/camara.png"
import location from "./img/edificio.png"
import door from "./img/puerta-abierta.png"
import size from "./img/metro-cuadrado.png"
import house from "./img/casa.png"
---

<section class="flex w-full flex-col gap-8 px-4 py-16 md:px-16 lg:px-32 bg-gray-900 text-white">
    <div class="flex items-center justify-between">
        <p class="text-3xl">Ultimas Propiedades</p>
        <a class="bg-amber-500 text-2xl rounded-2xl px-10 py-2" href="">Ver Todas</a>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <div class="flex justify-center items-center gap-10 flex-col bg-gray-400 rounded-lg"> 
            <img src="https://placehold.co/600x400" alt="Property Image" class="w-full h-auto rounded-lg shadow-lg ">
            <div>
                <h2>U$D <span>$1500</span></h2>
                <img src={house.src} alt="House Icon">
            </div>
            <div>
                <img src={size.src} alt="Size Icon">
                <p>180m</p>
                <img src={door.src} alt="Door Icon">
                <p>4 amb</p>
                <img src={calendar.src} alt="Calendar Icon">
                <p>A estrenar</p>
            </div>
            <div>
                <h3>Mariano Moreno 1500</h3>
                <span>PH en Venta</span>
                <p>PH al frente 4 ambientes. Living COmedor gigante.</p>
            </div>
            <div>
                <h3>Cod:<span>14341341</span></h3>
                <a href="/contact">Contactar</a>
            </div>
        </div>
    </div>
</section>