---
import calendar from "./img/calendario.png"
import camera from "./img/camara.png"
import location from "./img/edificio.png"
import door from "./img/puerta-abierta.png"
import size from "./img/metro-cuadrado.png"
import house from "./img/casa.png"
---

<section>
    <div>
        <p>Ultimas Propiedades</p>
        <a href="">Ver Todas</a>
    </div>
    <div>
        <div>
            <img src="" alt="">
            <div>
                <h2>U$D <span></span></h2>
                <img src={house.src} alt="House Icon">
            </div>
            <div>
                <img src={size.src} alt="">
                <p></p>
                <img src={door.src} alt="">
                <p></p>
                <img src={calendar.src} alt="">
                <p></p>
            </div>
            <div>
                <h3></h3>
                <span></span>
                <p></p>
            </div>
            <div>
                <h3>Cod:<span></span></h3>
                <a href="/contact">Contactar</a>
            </div>
        </div>
    </div>
</section>