---
import heroimg from "./img/herohand.webp"
---

<section class="w-full bg-amber-600 text-white flex flex-col-reverse md:flex-row items-center justify-between gap-8 py-4 pl-8 ">
    <div class="flex flex-col gap-10 ">
        <h1 class="text-6xl font-bold">ENCONTRÁ LO QUE BUSCÁS</h1>
        <p class="text-xl text-black">En Marino Propiedades te acompañamos a encontrar el hogar o la inversión ideal. Transparencia, confianza y compromiso en cada paso.</p>
    </div>
    <div>
        <img src={heroimg.src} alt="">
    </div>    
</section>