---
import footerlogo from "./img/favicon.png"
---

<footer class="bg-gray-500">
    <div>
        <div>
            <div>
                <div>
                    <h2>Informacion:</h2>
                    <p>Moliere 2936 - Capital Federal</p>
                    <p>4644-3429</p>
                    <p>11-5161-4691</p>
                    <p>adrianmarinoprop@gmail.com</p>  
                </div>
                <div>
                    <h2>Matriculas:</h2>
                    <p>Adrian Fabio Marino</p>
                    <p>Martillero publico universitario</p>
                    <p>Cucicba 1231 csm 2302</p>
                </div>
                <div>
                    <h2>Horarios:</h2>
                    <p>Lunes a Viernes de 10 a 14 y 15 a 19 <br>
                        Sabados de 9 a 14</p>
                </div>
            </div>
            <div>
                <img src={footerlogo.src} alt="">
            </div>
        </div>
    </div>
    <div>
        <br>
        <p>* las reservas serán ad referéndum de los propietarios * Las medidas, superficies y especificaciones indicadas en cada publicación son aproximadas y surgen de los manifestado por los propietarios. * Tanto en CABA como en Provincia de Buenos Aires, cada publicación tendrá explicita la aclaración correspondiente al cobro de honorarios profesionales de acuerdo a lo ordenado por las leyes vigente y según aplique lo indicado para cada colegio departamental. -</p>
        <p>Desarrollado por Grupo Argentina Web / Todos los derechos reservados Marino Propiedades</p>
    </div>
</footer>