---
import logoheader from "./img/logoheader.png"
---

<header>
    <nav>
        <div>
            <img src={logoheader.src} class="w-50" alt="">
        </div>
        <ul>
            <li><a href="/">INICIO</a></li>
            <li><a href="/about">NOSOTROS</a></li>
            <li><a href="/contact">CONTACTO</a></li>
        </ul>
    </nav>
</header>