---
import logoheader from "./img/logoheader.png"
---

<header class="flex justify-between items-center bg-gray-500 p-4  w-full">
    <nav class="flex justify-between items-center w-full ">
        <div>
            <img src={logoheader.src} class="w-50" alt="Marino Propiedades Logo">
        </div>
        <ul class="flex space-x-4 items-center text-xl justify-between font-bold">
            <li><a href="/">INICIO</a></li>
            <li><a href="/about">NOSOTROS</a></li>
            <li><a href="/contact">CONTACTO</a></li>
        </ul>
    </nav>
</header>